<!-- Header menu -->
<nav class="navbar navbar-dark bg-dark">

  <!-- Left btn -->
  <a class="navbar-brand text-white-50" href="<%= navBarLeft.btnUrl %>">
    <i class="<%= navBarLeft.btnIcon %>" aria-hidden="true"></i>
  </a>

  <!-- Title -->
  <a href="<%= navBarCenter.titleUrl %>">
    <span class="navbar-text text-white">
      <%= navBarCenter.titleText %>
    </span>
  </a>

  <!-- Right btn -->
  <a class="navbar-brand text-white-50" href="<%= navBarRight.btnUrl %>">
    <i class="<%= navBarRight.btnIcon %>" aria-hidden="true"></i>
  </a>
</nav>