<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body>
		<header>
			<%- include('../partials/header') %>
				<h2> ID:<%- oneSubscription.id %>
				</h2>

				<main style="height: 1000px;">
					<section>
						<div class="container-fluid">

							<!-- Form -->
							<form class="get" method="POST" action="/subscriptions/<%= oneSubscription.id %>?_method=PUT">

								<!-- name -->
								<div class="form-group col-lg-4 col-md-6 col-sm-8">
									<label for="my-input">name</label>
									<input id="my-input" class="form-control" type="text" name="name" value=<%- oneSubscription.name %>>
								</div>

								<!-- description -->
								<div class="form-group col-lg-4 col-md-6 col-sm-8">
									<label for="my-input">description</label>
									<input id="my-input" class="form-control" type="text" name="description" value=<%-
										oneSubscription.description %>>
								</div>

								<!-- colorId -->
								<div class="form-group col-lg-4 col-md-6 col-sm-8">
									<label for="example-color-input" class="col-form-label">colorId</label>
									<input class="form-control" type="color" value="#563d7c" id="example-color-input" name="colorId">
								</div>

								<!-- firstPayment -->
								<div class="form-group ol-lg-4 col-md-6 col-sm-8">
									<label for="example-datetime-local-input" class="col-form-label">firstPayment</label>
									<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
										id="example-datetime-local-input" name="firstPayment">
								</div>

								<!-- recurrency -->
								<div class="form-group col-lg-4 col-md-6 col-sm-8">
									<label for="my-select">recurrency</label>
									<select id="my-select" class="form-control" name="recurrency">
										<option>Monthly</option>
										<option>Semanal</option>
										<option>bi-Monthly</option>
									</select>
								</div>

								<!-- longPayment -->
								<div class="form-group ol-lg-4 col-md-6 col-sm-8">
									<label for="example-datetime-local-input" class="col-form-label">longPayment</label>
									<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
										id="example-datetime-local-input" name="longPayment">
								</div>

								<!-- currency -->
								<div class="form-group col-lg-4 col-md-6 col-sm-8">
									<label for="my-select">currency</label>
									<select id="my-select" class="form-control" name="currency">
										<option>eur</option>
									</select>
								</div>


								<button type="submit">Crear</button>

						</div>
						</form>
						</div>
					</section>
				</main>

				<%- include('../partials/footer') %>
	</body>

</html>